
// 
//
// Minha estilização para o nav bar
//
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin image-bg(){
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin:0;
  padding:0;
  @include border-radius(0);
}

.contacts{
    @include calc(min-height,'100vh-10vh');
    @include image-bg();
    background-color:$ol-color;
    padding-top:15vh;
    .contacts-header{
        width:100%;
        font-size: $font-size-base * 3 ;
        text-align:center;
        color:$white;
        font-family:'Montserrat';
        text-transform: uppercase !important;
    }
    h3{
        font-family:'Amaranth';
    }
    .contacts-body{
        width:100%;
        padding-top:10vh;
        font-size: $font-size-base * 1 ;
        text-align:center;
        color:$ol-color;
        font-family:'Montserrat';
    }
    .section-heading {
        color: #fff;
    }
    .form-group {
        margin-bottom: 25px;
        textarea {
            padding: 20px;
            .form-control {
              height: 248px;
            }
        }
        input{
            padding: 20px;
        }
        input .form-control {
          height: auto;
        }
    }
    .form-control:focus {
      border-color: $ol-color;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &::-webkit-input-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    &:-moz-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    &::-moz-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    &:-ms-input-placeholder {
      font-weight: 700;
      color: #ced4da;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    @media only screen and (max-width: 600px) {
        .contacts-body {
            padding-top:10vh;
        }
    }
}

@media only screen and (max-width: 600px) {
    .contacts {
        padding-top:10vh;
    }
}




