
// 
//
// Minha estilização para o nav bar
//


//=====  Navbar  =====

.ol-navbar{
    font-family: 'Amaranth';
    color:$ol-color;
    background-color:$bg-color;
    .nav-link {
        color:$ol-color;
    }
    .nav-link:hover {
        color:$ol-color-secondary;
    }
    .navbar-nav .active > .nav-link {
        color:$ol-color;
    }
}


.resize-on-scroll{
  img{
  margin: 0px;
  padding: 0px;
  width: 50%;
  transition: width 5s ease 0s; }
  .container {
  margin-top: 0;
  margin-bottom: 0; }
  @media (max-width: 991.98px) {
    .offcanvas-collapse {
      top: 56px; /* Height of navbar */
    }
  }
}
